* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #F4F4F4;
  font-family: Roboto;
}

nav {
  background: #FFF;
  padding: 0 15px;
}

.item {
  padding: 10px;
}

a {
  color: #99A1AA;
  font-style: normal;
  text-decoration: none;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  justify-content: space-between;
  align-items: center;
  font-size: 24px;
}

.menu li a {
  display: block;
  padding: 15px 5px;
}

.logo {
  padding: 7.5px 10px 7.5px 0;
}

.logo img {
  height: 60px;
}

.toggle {
  order: 2;
  text-align: right;
  color: #000;
}

.item {
  order: 3;
  width: 100%;
  text-align: center;
  opacity: 0.7;
  display: none;
}

.active .item {
  display: block;
}

.content {
  padding: 30px 20px 0px 20px;
}

.catch-line {
  color: #000;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.sub-text {
  color: #6A6F74;
  font-size: 38px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.link-container {
  margin: 40px 0 0 0;
  display: flex;
  justify-content: start;
  align-items: center;
  background-color: #F5F5F5; /* Change to match your specific grey */
  border-radius: 5px; /* Adjust if you need rounded corners */
  position: relative;
}


.wallet-label {
  position: absolute;
  left: 20px; /* Adjust to match the padding of your input field */
  color: #000;
  font-family: Roboto;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  pointer-events: none;
}

#wallet-id {
  border: none;
  padding: 10px 0px 10px 220px;
  width: 400px;
  font-size: 32px;
  color: #6A6F74;
}

#join-button {
  background-color: #FFEF00; /* Yellow background */
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-family: Roboto;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

#wallet-id:focus {
  outline: none;
  border: none;
  /* Or, for a background color change: */
  background-color: #e8e8e8; /* Use a light color to indicate focus */
}

.join-text {
  font-size: 26px;
}


/* Desktop menu */
@media all and (min-width: 960px) {
  .menu {
    align-items: flex-start;
    flex-wrap: nowrap;
    background: none;
  }

  .logo {
    order: 0;
    flex: 1;
  }

  .item {
    order: 1;
    display: block;
    width: auto;
  }

  .toggle {
    display: none;
  }

  .content {
    padding: 50px 0px 0px 60px;
  }
}








