* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #F4F4F4;
  font-family: Roboto;
}

nav {
  background: #FFF;
  padding: 0 15px;
}

.item {
  padding: 10px;
}

a {
  color: #99A1AA;
  font-style: normal;
  text-decoration: none;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  justify-content: space-between;
  align-items: center;
  font-size: 24px;
}

.menu li a {
  display: block;
  padding: 15px 5px;
}

.logo {
  padding: 7.5px 10px 7.5px 0;
}

.logo img {
  height: 60px;
}

.toggle {
  order: 2;
  text-align: right;
  color: #000;
}

.item {
  order: 3;
  width: 100%;
  text-align: center;
  opacity: 0.7;
  display: none;
}

.active .item {
  display: block;
}

.content {
  padding: 30px 20px 0px 20px;
}

.catch-line {
  color: #000;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.sub-text {
  color: #6A6F74;
  font-size: 38px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.link-container {
  margin: 40px 0 0 0;
  display: flex;
  justify-content: start;
  align-items: center;
  background-color: #F5F5F5; /* Change to match your specific grey */
  border-radius: 5px; /* Adjust if you need rounded corners */
  position: relative;
}

.input {
  padding: 10px 0px 10px 10px;
  border: none;
  font-size: 18px;
  color: #6A6F74;
  background-color: #F4F4F4;
}


.input:focus {
  outline: none;
  border: none;
  /* Or, for a background color change: */
  background-color: #e8e8e8; /* Use a light color to indicate focus */
}

.wallet-label {
  position: absolute;
  left: 20px; /* Adjust to match the padding of your input field */
  color: #000;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  pointer-events: none;
}

#wallet-id {
  padding: 10px 0px 10px 132px;
  width: 250px;
  background-color: #FFF;
}

#join-button {
  background-color: #FFEF00; /* Yellow background */
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

#wallet-id:focus {
  outline: none;
  border: none;
  /* Or, for a background color change: */
  background-color: #e8e8e8; /* Use a light color to indicate focus */
}


.join-text {
  font-size: 18px;
}

.content-dashboard {
  background-color: #FFF;
  margin: 10px 10px 0px 10px;
  text-align: center;
}

.table-shadow {
  -webkit-box-shadow: 0 1px 3px 0 rgba(0,0,0,.12),
  0 1px 2px 0 rgba(0,0,0,.24);
  -moz-box-shadow:    0 1px 3px 0 rgba(0,0,0,.12),
  0 1px 2px 0 rgba(0,0,0,.24);
  box-shadow:         0 1px 3px 0 rgba(0,0,0,.12),
  0 1px 2px 0 rgba(0,0,0,.24);
}

#search {
  margin: 10px;
}


.dashboard-title {
  padding: 10px;
}

.table {
  padding:20px 20px 20px 20px;
}

.table tr td{
  border-bottom: 1px solid rgba(0,0,0,.12);
  padding: 5px;
  margin: 5px;
  text-align: left;
}
.table-div {
  display: flex;
  justify-content: center;
}

/* Desktop menu */
@media all and (min-width: 960px) {
  .menu {
    align-items: flex-start;
    flex-wrap: nowrap;
    background: none;
  }

  .logo {
    order: 0;
    flex: 1;
  }

  .item {
    order: 1;
    display: block;
    width: auto;
  }

  .toggle {
    display: none;
  }

  .content {
    padding: 30px 0px 0px 60px;
  }

  #wallet-id {
    padding: 10px 0px 10px 220px;
    width: 400px;
    font-size: 32px;
  }

  .wallet-label {
    font-size: 32px;
  }
  .join-text {
    font-size: 32px;
  }

  .content-dashboard {
    margin: 30px 500px 0px 500px;
  }

  .table {
    align-self: center;
  }
}



